body {
  font-family: sans-serif;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 30px;
}

.nav__link {
  color: red;
  text-decoration: none;
}

.nav__link--active {
  color: navy;
}

.header__nav {
  background-color: red;
}

.footer__nav {
  background-color: green;
}
