:root {
  --container-mobile: 98%;
  --light-color: #fff;
  --dark-bg-color: #000;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  src: local('OpenSansRegular'),
    url('../fonts/OpenSansRegular.woff2') format('woff2'),
    url('../fonts/OpenSansRegular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  src: local('OpenSansSemiBold'),
    url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
    url('../fonts/OpenSansSemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  src: local('OpenSansBold'),
    url('../fonts/OpenSansBold.woff2') format('woff2'),
    url('../fonts/OpenSansBold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  src: local('OpenSansItalic'),
    url('../fonts/OpenSansItalic.woff2') format('woff2'),
    url('../fonts/OpenSansItalic.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

body {
  min-width: 320px;
  margin: 0 auto;
  font-family: 'OpenSans';
  font-weight: 400;
  /* background-color: gray; */
}

/* global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  background-color: transparent;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.34px;
  color: var(--light-color);
  padding: 10px 0;
}

.font-size-reset {
  font-size: 0;
}

.margin-reset {
  margin: 0;
}

.padding-reset {
  padding: 0;
}

.flex {
  display: flex;
}

.stop-scroll {
  overflow: hidden;
}

.stretching-img {
  display: block;
  width: 100%;
  height: auto;
}

/* .swiper {
  width: 600px;
  height: 300px;
} */

/* ------------------------ */
/* header */
.header {
  background-color: var(--dark-bg-color);
}

.header__row {
  list-style: none;
  padding-left: 0;
}

.container__header {
  width: var(--container-mobile);
}

.burger {
  position: relative;
  width: 25px;
  height: 18px;
  color: var(--light-color);
  transition: color .3s ease-in-out, transform .3s ease-in-out;
  z-index: 1000;
}

.burger:active {
  color: gray;
  transform: translate(2px, 2px);
}

.burger__line {
  position: absolute;
  left: 0;
  height: 2px;
  background-color: currentColor;
}

.burger__line:first-child {
  top: -6px;
  width: 25px;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.burger__line:nth-child(2) {
  top: 2px;
  width: 16px;
  transition: opacity .3s ease-in-out;
}

.burger__line:last-child {
  top: 10px;
  width: 10px;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.burger--active
.burger__line:nth-child(2) {
  opacity: 0;
}

.burger--active
.burger__line:first-child {
  top: 3px;
  left: -1px;
  width: 19px;
  transform: rotate(45deg);
  transform-origin: center;
}

.burger--active
.burger__line:last-child {
  top: 3px;
  left: -1px;
  width: 19px;
  transform: rotate(-45deg);
  transform-origin: center;
}

.header__logo img {
  padding: 12px 0;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  visibility: hidden;
  transform: translateX(-120%);
  transition: visibility .3s ease-in-out, transform .3s ease-in-out;
  background: rgba(0, 0, 0, 0.9);
  padding: 46px 15px;
}

.nav__list {
  list-style: none;
  padding-left: 0;
}

/* .nav__item:not(:last-child) {
  margin-bottom: 8px;
} */

.nav__link {
  color: var(--light-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
}

.nav--active {
  visibility: visible;
  transform: none;
}

.header__login-btn {
  max-width: 40%;
}

.header__login-btn span {
  background-image: url('../img/login-btn-icon-320.svg');
  background-position-y: center;
  background-repeat: no-repeat;
  padding-left: 12px;
  /* outline: 1px solid green; */
  /* align-items: center; */
}


/* -------------------------------------------- */
/* hero */
.hero {
  position: relative;
}

.hero__swiper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.hero__swiper-slide {
  background-size: cover;
}

.hero__swiper-slide--slide-1 {
  background-image: url('../img/hero-bg-img-1-320.jpg');
}

.hero__swiper-slide--slide-2 {
  background-image: url('../img/hero-bg-img-2-320.png');
}

.hero__swiper-slide--slide-2 {
  background-image: url('../img/hero-bg-img-3-320.png');
}
