:root {

}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
}



body {
  min-width: 320px;
  margin: 0 auto;
}

/* global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.font-size-reset {
  font-size: 0;
}

.margin-reset {
  margin: 0;
}

.padding-reset {
  padding: 0;
}

.flex {
  display: flex;
}

.stop-scroll {
  overflow: hidden;
}

.stretching-img {
  display: block;
  width: 100%;
  height: auto;
}

.header {
  padding: 30px;
}

@keyframes btn__anim {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

.header__btn {
  /* animation: btn__anim 2s ease-in-out infinite; */

  /* animation-name: btn__anim;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 3s; */
}
/*
.header__btn:hover {
  animation-play-state: paused;
} */

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}
