html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

/* global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.font-size-reset {
  font-size: 0;
}

.no-margins {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.flex {
  display: flex;
}

.container {
  padding: 20px;
  margin: 0 auto;
}

.o-l {
  outline: auto;
}


.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip__marker {
  /* display: inline-block; */
  /* position: relative; */
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-image: url('../img/tooltip.png');
  transition: background-image .3s ease-in-out;
}

.tooltip__marker--hover {
  background-image: url('../img/tooltip-hover.png');
}

/* .tooltip__marker:focus-visible + .tooltip__popup,
.tooltip__marker:hover + .tooltip__popup { */

.tooltip__popup {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  /* margin-top: 10px; */
  background: black;
  color: white;
  max-width: 280px;
  padding: 15px;
  border-radius: 5px;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s ease-in-out, z-index .3s ease-in-out;
}

.tooltip__popup--show {
  opacity: 1;
  z-index: 1;
}

.tooltip__popup-content {
  text-align: center;
}
