.header {

}

.main-container {
  background-color: #e5e5e5;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 30px 0 20px 0;
}
.special-offers-container {
  font-size: 0;
}

.header-top {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
}


.contacts-phone-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.header-bottom {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 0 45px;
  margin-bottom: 70px;
}
.header-bottom-right {
  display: inline-block;
  position: absolute;
  right: 0;
  padding-top: 10px;
  vertical-align: middle;
  margin-right: 45px;

}
.header-logo {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 40px;
}

.services-card {
  width: 573px;
  height: 330px;
  border-radius: 15px;
  margin: 0 23px 23px 0;
}

.services-card:nth-child(even) {
  margin-right: 0;
}

.services-card:last-child {
  margin-bottom: 70px;
}

.contacts-item-link {
  display: inline-block;
  vertical-align: middle;
}

.personal-profile-link {
  display: inline-block;
  position: absolute;
  top: 17px;
  right: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #cc9933;
}

.header-nav {
  display: inline-block;
  position: relative;
  height: 100%;
  vertical-align: top;
}

.header-vertical-splitter {
  display: inline-block;
  position: relative;
  top: 10px;
}

.nav-list {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 27px;
}

.nav-list-item {
  display: inline-block;
  margin: 0;
  margin-right: 45px;
}

.nav-list-item:last-child {
  margin-right: 56px;
}

.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 13px 20px;
  color: #cc9933;
  background-color: transparent;
  border: 1px solid #cc9933;
  border-radius: 10px;
  margin-right: 45px;
}
.btn:last-child {
  margin-right: 0;
}

.special-offers-card {
  position: relative;
  box-sizing: border-box;
  width: 573px;
  height: 258px;
  border-radius: 15px;
  margin: 0 0 70px 0;
}
.header-btn {}

.main {}

.special-offers {}

.section-title {
  padding-left: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  margin: 0 0 20px 0;
}

.special-offers-title {
  margin: 0 0 15px 0;
}

.section-left {
  display: inline-block;
  color: #ffffff;
  vertical-align: top;
  font-size: 0;
}

.special-offers-section-left {
  box-sizing: border-box;
}

.special-offers-list {
  margin: 0;
  padding: 0;
}

.special-offers-item {
  font-size: 0;
  list-style-type: none;
}

.special-offers-title-left {
  margin: 0;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

.special-offers-descr-left {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.special-offers-link {
  position: absolute;
  bottom: 40px;
  text-decoration: none;
  color: #ffcc66;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.section-right {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 573px;
  height: 540px;
}

.special-offers-section-right {}

.special-offers-title-right {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  color: #ffffff;
}

.special-offers-descr-right {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
}

.about {}

.about-title {
  margin-bottom: 11px;
}

.article-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.about-article-description {
  margin-bottom: 70px;
}

.services {}

.services-title {}

.services-list {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.services-list-item {
  display: inline-block;
  box-sizing: border-box;
  list-style-type: none;
  vertical-align: top;
  padding: 191px 126px 50px 45px;
}

.services-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  color: #cc9933;
  text-decoration: none;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.description-services-list {
  margin: 0;
}

.right_angle_bracket {
  display: inline;
  position:relative;
  top: 3px;
}
.advantages {}

.advantages-title {}

.advantages-list {
  list-style-type: none;
  font-size: 0;
  padding: 0;
}

.advantages-list-item {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 275px;
  height: 275px;
  border-radius: 15px;
  background-color: #ffffff;
  margin: 0 23px 23px 0;
  padding: 40px 42px 41px 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;

}

.advantages-list-item:nth-child(4) {
  margin-right: 0;
}

.advantages-list-item:last-child {
  margin-right: 0;
  margin-bottom: 70px;
}

.advantages-logo {
  margin-bottom: 10px;
}

.section-desc {

}

.advantage-description {}

.accommodation {}

.accommodation-title {}

.accommodation-list {
  list-style-type: none;
  padding: 0;
  font-size: 0;
}

.accommodation-list-item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 374px;
  height: 440px;
  border-radius: 15px;
  background-color: #ffffff;
  margin: 0 23px 23px 0;
  padding: 0;
}

.accommodation-list-item:nth-child(3n) {
  margin-right: 0;
}

.accommodation-list-item:last-child {
  margin: 0;
  height: 440px;
}

.accommodation-content {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 253px 10px 16px 45px;
}

.accommodation-content-left {
  display: inline-block;
  vertical-align: top;
}

.accommodation-desc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.section-desc-bold {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.accomondation-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.accommodation-content-right {
  display: inline-block;
  position: absolute;
  right: 46px;
  padding-top: 20px;
  font-size: 10px;

}

.light-font {
  color: #999999;
}
.rating-img {}

.accommodation-link {
  position: absolute;
  bottom: 27px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  line-height: 40px;
  color: #ffffff;
}

.sp-offers-img-1 {
  background-image: url("../img/sp-offers-img-1.png");
  background-repeat: no-repeat;
  padding: 40px;
  padding-right: 234px;
  margin: 0 23px 23px 0;
}

.sp-offers-img-2 {
  background-image: url("../img/sp-offers-img-2.png");
  background-repeat: no-repeat;
  padding: 40px;
}

.sp-offers-img-3 {
  background-image: url("../img/sp-offers-img-3.png");
  background-repeat: no-repeat;
  padding: 210px 40px 40px;

}

.services-img-1 {
  background-image: url("../img/services-img-1.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.services-img-2 {
  background-image: url("../img/services-img-2.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.services-img-3 {
  background-image: url("../img/services-img-3.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.services-img-4 {
  background-image: url("../img/services-img-4.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.accommodation-img-1 {
  background-image: url("../img/accommodation-img-1.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.accommodation-img-2 {
  background-image: url("../img/accommodation-img-2.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.accommodation-img-3 {
  background-image: url("../img/accommodation-img-3.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.accommodation-img-4 {
  background-image: url("../img/accommodation-img-4.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.accommodation-img-5 {
  background-image: url("../img/accommodation-img-5.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.accommodation-img-6 {
  background-image: url("../img/accommodation-img-6.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.accommodation-img-7 {
  background-image: url("../img/accommodation-img-7.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.accommodation-img-8 {
  background-image: url("../img/accommodation-img-8.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.accommodation-img-last {
  background-image: url("../img/accommodation-img-last.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
}
