.container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-top: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
  gap: 15px;
}

.card {
  position: relative;
  width: 20vw;
  height: 20vh;
  /* color: white; */
  }

  .card:hover {
    opacity: .7;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
  }
  .card__front{
  position: relative;
  z-index: 1;
  /* height: 100%; */
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  transition: transform .5s cubic-bezier(.2,.85,.4,1.275);
  background-image: url('../img/card.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;

  }
  .card__back {
  position: absolute;
  top: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  transition: transform .5s cubic-bezier(.2,.85,.4,1.275);
  box-sizing: border-box;
  border: 3px solid green;
  border-radius: 20px;
  font-size: 15vh;
  font-weight: 600;
  color: green;
  text-align: center;
  align-self: center;
  }
  .card__index {
    visibility: hidden;
  }
  /* .card:hover .card__back {
  transform: rotateY(0deg);
  z-index: 2;
  }
  .card:hover .card__front {
  transform: rotateY(180deg);
  z-index: -1;
  } */

  .card--open .card__back {
    transform: rotateY(0deg);
    z-index: 2;
    cursor: not-allowed;
  }

  .card--open:hover {
    opacity: 1;
    transition: none;
    cursor: default;
  }
  .card--open .card__front {
    transform: rotateY(180deg);
    z-index: -1;
  }

  /* form block */
.form {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 38px 30px 20px 30px;
  background-color: #000;
  /* opacity: 0.4; */
  border-radius: 10px;
  margin-right: 58px;
  z-index: 5;
}

.form__legend {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #999;
  margin-bottom: 20px;
}

input {
  width: 92%;
  margin-bottom: 20px;
  padding: 18px 0 21px 18px;
  background: #FFFFFF;
  border: 1px solid #FF5C00;
  border-radius: 10px;
}

::-webkit-input-placeholder {
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  color: #999;
}

.form > div {
  position: relative;
  margin-bottom: 11.5px;
}

.form > button {
  max-width: 50%;
  background-color: #ff5c00;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--white-color);
  padding: 16px 0;
  border-radius: 10px;
  border: none;
  margin-bottom: 18px;
}

/* .js-validate-error-label {
  position: absolute;
  top: -20px;
  left: 20px;
  color: #ff5c00;
  font-family: 'Roboto';
  font-size: 11.5px;
  line-height: 14.06px;
  font-weight: 400;
} */
