.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  padding-top: 20px;
  gap: 15px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
  gap: 15px;
}

.finished {
  opacity: .2;
  transition: opacity 1s ease-in-out;
}

.card {
  position: relative;
  /* width: 20vw; */
  /* height: 20vh; */
}

.card:hover {
  filter: grayscale(1);
  cursor: pointer;
  transition: none;
  transform: scale(.97, .97);
}

.card__front{
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  transition: transform .5s cubic-bezier(.2,.85,.4,1.275);
  background-image: url('../img/card.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.card__back {
  display: flex;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  z-index: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  transition: transform .5s cubic-bezier(.2,.85,.4,1.275);
  box-sizing: border-box;
  border: 3px solid green;
  border-radius: 20px;
  font-size: calc(4vw + 4vh + 2vmax);
  font-weight: 600;
  color: green;
  text-align: center;
  align-self: center;
}

.card__index {
  visibility: hidden;
}

.card--open .card__front {
  transform: rotateY(180deg);
  z-index: -1;
}

.card--open .card__back {
  transform: rotateY(0deg);
  z-index: 2;
  cursor: not-allowed;
}

.card--open:hover {
  opacity: 1;
  transition: none;
  transform: none;
  cursor: default;
  filter: none;
}

.block__game-over {
  display: flex;
  position: absolute;
  top: 30vh;
  left: 21vw;
  flex-direction: column;
  align-items: center;
}

.title__game-over {
  font-size: 8vw;
  color: green;
  opacity: .7;
}

.btn__game-over {
  background-color: green;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: white;
  padding: 16px 20px;
  border-radius: 10px;
  border: 2px solid white;
  margin-bottom: 18px;
  opacity: .6;
  max-width: 60%;
}

/* form block */
.form {
  display: flex;
  position: relative;
  top: 15vh;
  flex-direction: column;
  width: 300px;
  padding: 38px 30px 20px 30px;
  background-color: green;
  opacity: 0.7;
  border-radius: 10px;
  margin-right: 58px;
  z-index: 5;
  color: white;
}

.form__legend {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #999;
  margin-bottom: 20px;
}

input {
  width: 92%;
  margin-bottom: 20px;
  padding: 18px 0 21px 18px;
  background: #FFFFFF;
  border: 1px solid #FF5C00;
  border-radius: 10px;
}

::-webkit-input-placeholder {
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  color: #999;
}

.form > div {
  position: relative;
  margin-bottom: 11.5px;
}

.form > button {
  max-width: 50%;
  background-color: #ff5c00;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--white-color);
  padding: 16px 0;
  border-radius: 10px;
  border: none;
  margin-bottom: 18px;
}

/* .js-validate-error-label {
  position: absolute;
  top: -20px;
  left: 20px;
  color: #ff5c00;
  font-family: 'Roboto';
  font-size: 11.5px;
  line-height: 14.06px;
  font-weight: 400;
} */
