html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.container {

}

.swiper {
  width: 1770px;
  height: 620px;
}

.hero__swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__swiper-slide_bg1 {
  background-image: url("../img/hero-bg-1920-1.jpg");
}

.hero__swiper-slide_bg2 {
  background-image: url("../img/hero-bg-1920-2.jpg");
}

.hero__swiper-slide_bg3 {
  background-image: url("../img/hero-bg-1920-3.jpg");
}

.hero__swiper {
  position: relative;
}

.hero__text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
