@media (max-width: 768px) {
  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    /* display: none; */
    width: 50%;
    min-width: 250px;
    height: 100vh;
    z-index: 1000;
    padding: 50px;
    box-shadow: 0 0 5px #888;
    background-color: #fff;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .header__nav .nav__list {
    flex-direction: column;

  }

  .header__nav .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__nav .nav__link {
    font-size: 20px;
  }

  .header__nav_active {
    visibility: visible;
    transform: none;
  }

  .burger {
    display: flex;
  }

  .logo {
    background-color: yellow;
  }

}
