:root {
  --gap: 32px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratRegular'),
    url('../fonts/MontserratRegular.woff2') format('woff2'),
    url('../fonts/MontserratRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratBold'),
    url('../fonts/MontserratExtraBold.woff2') format('woff2'),
    url('../fonts/MontserratExtraBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratSemiBold'),
    url('../fonts/MontserratSemiBold.woff2') format('woff2'),
    url('../fonts/MontserratBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratMedium'),
    url('../fonts/MontserratMedium.woff2') format('woff2'),
    url('../fonts/MontserratMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratExtraBold'),
    url('../fonts/MontserratExtraBold.woff2') format('woff2'),
    url('../fonts/MontserratExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('MullerRegular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  /* background-color: #f1f1f1; */
  min-width: 768px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.font-size-reset {
  font-size: 0;
}

.no-margins {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.flex {
  display: flex;
}

.container {
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
}

.h1-title {
  font-size: 70px;
  font-weight: 800;
  line-height: 85.33px;
  margin-bottom: 24px;
}

.section-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 58.51px;
}

/* header */

.header {
  padding-top: 14px;
  margin-bottom: 102px;
}

.header__top {
  /* outline: 1px solid black; */
  margin-bottom: 10px;
}

.header__top-left {
  /* outline: 1px solid black; */
  margin-right: auto;
}

.header__top-right {
  /* outline: 1px solid black; */
  align-items: center;
}

.nav__item {
  margin-right: 85px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
}

.header__bottom {
  background-image: url("../img/header-bg-1.jpg");
  background-repeat: no-repeat;
  /* background-size; */
  max-width: 1770px;
  min-height: 620px;
  padding: 100px 80px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.header__bottom > div {
  max-width: 900px;
}

.header__descr {
  font-size: 23.5px;
  font-weight: 700;
  line-height: 29.26px;
}

.header__btn {
  font-size: 23.46px;
  font-weight: 700;
  line-height: 28.6px;
  padding: 22.5px 33px;
}

/* about */
.about {
  margin-bottom: 100px;
}
.about-box {
  display: flex;
  width: inherit;
  flex-direction: column;
  /* outline: 1px solid blue; */
  outline-offset: 2px;
}

.about-box__top {
  display: flex;
  /* outline: 1px solid green; */
  outline-offset: -1px;
  margin-bottom: 48px;
}

.about-box__bottom {
  display: flex;
  /* flex-direction: row; */
  /* outline: 1px solid orange; */
  /* justify-content: center; */
}

.about-box__bottom-left {
  display: flex;
  flex: 1;
  background-image: url("../img/about-bg-0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 868px;
  height: 622px;
  /* outline: 1px solid salmon; */
  margin-right: var(--gap);
}

.about-box__bottom-right {
  display: flex;
  flex-direction: column;
  /* outline: 1px solid darkolivegreen; */
  width: 870px;
}

.about-box__item {
  display: flex;
  flex: 1;
  /* justify-content: center; */
  padding: 64px 60px;
  /* max-width: 830px; */
  outline: 1px solid #cacaca;
}

.about-box__item:not(:last-child) {
  margin-bottom: var(--gap);
}

.about__title {
  margin-bottom: 20px;
}

.about-box__descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  max-width: 1230px;
}

.about-box__descr-right {
  max-width: 420px;
}

.about-box__item-title {
  font-size: 23.5px;
  font-weight: 700;
  line-height: 29.26px;
  /* letter-spacing: .01px; */
}

.about-box__item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.about-box__item-pic {
  margin-right: 50px;
}

.about-box__left-content {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0,50%);
  width: inherit;
  height: 196px;
  align-self: flex-end;
  padding: 50px;
}

.about-box__descr-left {
  font-size: 15.8px;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
  max-width: 450px;
}

.about__btn {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  line-height: 0;
  background: transparent;
  outline: 3px solid #ff9900;
  align-self: center;
  padding: 25px 34px;
}
/* working */
.working {

}

.working__title {
  margin-bottom: 52px;
}

.wording-box {
  display: flex;
}

.working-box__left {
  display: flex;
  flex-direction: column;
  outline: auto;
  width: calc(100% / 2 + var(--gap));
}

.working-box__right {
  outline: 2px solid brown;
  background-image: url("../img/working-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 870px;
}

.working__list {
  display: flex;
  margin-bottom: 45px;
}

.working__item {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.34px;
}
.working__item:not(:last-child) {
  margin-right: 86px;
}

.working-box__item-title {
  font-size: 23.6px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 8px;
}

.wording-box__item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  max-width: 765px;
}
