html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'font', sans-serif;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
