:root {
  --gap: 32px;
  --horizontal-padding: 75px;
  --footer-gap: 30px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratRegular'),
    url('../fonts/MontserratRegular.woff2') format('woff2'),
    url('../fonts/MontserratRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratBold'),
    url('../fonts/MontserratExtraBold.woff2') format('woff2'),
    url('../fonts/MontserratExtraBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratSemiBold'),
    url('../fonts/MontserratSemiBold.woff2') format('woff2'),
    url('../fonts/MontserratBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratMedium'),
    url('../fonts/MontserratMedium.woff2') format('woff2'),
    url('../fonts/MontserratMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratExtraBold'),
    url('../fonts/MontserratExtraBold.woff2') format('woff2'),
    url('../fonts/MontserratExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('MullerRegular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  /* background-color: #e5e5e5; */
  min-width: 768px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.font-size-reset {
  font-size: 0;
}

.no-margins {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.flex {
  display: flex;
}

.container {
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
}

.h1-title {
  font-size: 70px;
  font-weight: 800;
  line-height: 85.33px;
  margin-bottom: 24px;
  color: #fff;
}

.section-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 58.51px;
}

/* header */

.header {
  /* padding-top: 14px; */
  margin-bottom: 102px;
}

.header__top {
  display: flex;
  /* outline: 1px solid black; */
  box-shadow: 0px 5px 40px rgba(0,0,0,0.1);
  /* margin-bottom: 10px; */
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 75px;
}

.header__top-left {
  /* outline: 1px solid black; */
  padding: 12px 0;
  margin-right: auto;
}

.header__top-right {
  /* outline: 1px solid black; */
  align-items: center;
}

.nav__item {
  display: flex;
  position: relative;
  /* margin-right: 85px; */
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  flex: auto;
}

.nav__link {
  outline: none;
  border: none;
}

.nav__link:active {
  color: #e1670e;
}

.nav__link::before {
  display: flex;
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  content: "";
}

.nav__link:focus-visible:not(:active):before {
  outline: 2px solid #ff9900;
}

.nav__link:hover::before {
  border-bottom: 2px solid #ff9900;
}

.nav__link:active::before {
  border-bottom: 2px solid #e1670e;
}

.header__bottom {
  position: relative;
  top: -1px;
  background-image: url("../img/header-bg-1.jpg");
  background-repeat: no-repeat;
  /* background-size; */
  max-width: 1770px;
  min-height: 620px;
  padding: 100px 80px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.header__bottom > div {
  max-width: 900px;
}

.header__descr {
  font-size: 23.5px;
  font-weight: 700;
  line-height: 29.26px;
  color: #fff;
}

.header__btn {
  font-size: 23.46px;
  font-weight: 700;
  line-height: 28.6px;
  padding: 22.5px 33px;
  border: none;
  background-color: #ff9900;
  color: #fff;
}

/* about */
.about {
  margin-bottom: 100px;
}
.about-box {
  display: flex;
  width: inherit;
  flex-direction: column;
  /* outline: 1px solid blue; */
  outline-offset: 2px;
}

.about-box__top {
  display: flex;
  /* outline: 1px solid green; */
  outline-offset: -1px;
  margin-bottom: 48px;
}

.about-box__bottom {
  display: flex;
  /* flex-direction: row; */
  /* outline: 1px solid orange; */
  /* justify-content: center; */
}

.about-box__bottom-left {
  display: flex;
  flex: 1;
  background-image: url("../img/about-bg-0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 868px;
  height: 622px;
  /* outline: 1px solid salmon; */
  margin-right: var(--gap);
}

.about-box__bottom-right {
  display: flex;
  flex-direction: column;
  /* outline: 1px solid darkolivegreen; */
  width: 870px;
}

.about-box__item {
  display: flex;
  flex: 1;
  /* justify-content: center; */
  padding: 64px 60px;
  /* max-width: 830px; */
  outline: 1px solid #cacaca;
}

.about-box__item:not(:last-child) {
  margin-bottom: var(--gap);
}

.about__title {
  margin-bottom: 20px;
}

.about-box__descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  max-width: 1230px;
}

.about-box__descr-right {
  max-width: 420px;
}

.about-box__item-title {
  font-size: 23.5px;
  font-weight: 700;
  line-height: 29.26px;
  /* letter-spacing: .01px; */
}

.about-box__item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.about-box__item-pic {
  margin-right: 51px;
}

.about-box__left-content {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0,50%);
  width: inherit;
  height: 196px;
  align-self: flex-end;
  padding: 50px;
}

.about-box__descr-left {
  font-size: 15.8px;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
  max-width: 450px;
}

.about__btn {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  line-height: 0;
  background: transparent;
  outline: 3px solid #ff9900;
  align-self: center;
  padding: 26px 36px;
  border: none;
}
/* working */
.working {
  margin-bottom: 100px;
}

.working__title {
  margin-bottom: 52px;
}

.working-box {
  display: flex;
}

.working-box__left {
  display: flex;
  flex-direction: column;
  /* outline: auto; */
  width: calc(100% / 2 + var(--gap) - var(--gap) / 2);
}

.working-box__right {
    /* outline: 2px solid brown; */
  background-image: url("../img/working-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  width: 870px;
}

.working__list {
  display: flex;
  margin-bottom: 45px;
}

.working__item {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.34px;
}
.working__item:not(:last-child) {
  margin-right: 86px;
}

.working-box__item-title {
  font-size: 23.6px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 8px;
}

.working-box__item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  max-width: 765px;
  margin-bottom: 49px;
}
.working-box__item-text span {
  letter-spacing: 4px;
}

.working-box__btn-left {
  background-color: #ff9900;
  color: #fff;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  padding: 20px 38px;
  margin-right: 28px;
}

.working-box__btn-right {
  background-color: transparent;
  color: #333;
  outline: none;
  border: 1px solid #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  padding: 20px 37px;
}

/* faq */
.faq {
  margin-bottom: 100px;
}

.faq__title {
  margin-bottom: 43px;
}

.faq__list {
}

.faq__item {
  box-sizing: border-box;
  font-size: 0;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

.faq__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 23.6px;
  font-weight: 700;
  line-height: 32px;
  color: #333;
}

.faq__link span span{
  color: #cacaca;
}

.faq__icon {
  padding: 29.5px 0;
}

/* footer */
.footer {

}

.footer-box {
  display: flex;
  padding: 50px 75px;
  margin: 0 auto;
  background-color: #222;
  /* columns: 3; */
}

.footer__title {
  margin-bottom: 27px;
}

.footer-box__menu {
  /* break-inside: avoid-column; */
}

.footer-box__item {
  /* break-inside: avoid-column; */
}

.footer-box__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: #cacaca;
}

.footer-box__logo {
  margin-bottom: 15.5px;
}

.footer-box__social-link svg {
  fill: #7c7c7c;
}

.form {
  display: flex;
  flex-direction: column;
}

/* .form__top-box {

} */

.form__bottom-box {
  display: flex;
  align-items: center;
}


.form__input {
  padding: 19px 23px;
  margin-bottom: 23px;
  width: 100%;
}

.form__textarea {
  padding: 22px 23px;
  height: 152px;
  width: 100%;
  margin-bottom: 29px;
}

.form__textarea-label {
  height: fit-content;
}

.form__btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  padding: 19px 50px;
  color: #fff;
  background-color: #ff9900;
  align-self: flex-start;
  margin-right: 25px;
  border: none;
}

.footer-box__descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #cacaca;
}

.footer-box__column {
  width: calc((100% - (var(--horizontal-padding) * 2 - var(--footer-gap) * 2)) / 3 + 10px);
  /* break-inside: avoid-column; */
}

.footer-box__column:not(:last-child) {
  margin-right: var(--footer-gap);
}

.footer-box__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-box__text-wrap {
  max-width: 360px;
}

.footer-box__menu {
  margin-bottom: 90px;
}

.footer-box__social-link:not(:last-child) {
  margin-right: 22px;
}
